/* Main Content Layout */
main {
    grid-area: main;
    display: grid;
    grid-row-gap: 2em;
}

h1 {
    width: fit-content;
    border-bottom: 0.15em solid;
    grid-column: 2;
}

h3 {
    margin-top: 3em;
}

h4 {
    border-bottom: 0.15em solid;
}

.heading {
    margin: 1em 0;
}

.content {
    font-size: 1.2em;
}

/* Heading / index header layout */
.heading,
.gallery-header-wrapper {
    display: grid;
    grid-template-rows: max-content;
}

.gallery-header {
    grid-column: 2;
}

/* Article Pages */
.article {
    display: grid;
    grid-template-rows: auto;
}

.paragraph:nth-child(odd) {
    background-color: #eceff1;
}

.text h2 {
    font-size: 1.2em;
}

.image {
    position: relative;
    height: fit-content;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 0.5em;
}

.image>p>img {
    object-fit: contain;
    object-position: top;
    width: 100%;
    max-height: 20em;
}

.portrait {
    max-height: none !important;
    height: 30em;
}

/* Responsive Styles */
@media screen and (max-width: 1199px) {
    h1, h2, h3, h4 {
        font-weight: 500;
    }
    main {
        font-size: 0.8em;
    }
    .content, .heading {
        grid-gap: 0;
    }
    .heading, .gallery-header-wrapper {
        grid-template-columns: [col] 1fr [col] 90% [col] 1fr;
    }
    .paragraph {
        grid-column: 2;
        display: grid;
        grid-gap: 3em;
        padding: 4em 5vw;
        grid-template-rows: auto;
    }
    .text {
        grid-row: 1;
    }
    .image {
        grid-row: 2;
    }
    .paragraph:only-child>.image {
        grid-row: 1;
    }
    .paragraph:only-child>.text {
        grid-row: 2;
    }
}

@media screen and (min-width: 1200px) {
    .heading, .gallery-header-wrapper {
        grid-template-columns: [col] 1fr [col] 70% [col] 1fr;
    }
    .article {
        margin-top: 2em;
    }
    .paragraph {
        display: grid;
        grid-template-columns: [col] 1fr [col] 30% [col] 30% [col] 1fr;
        grid-gap: 10%;
        padding-top: 3em;
        padding-bottom: 6em;
    }
    .paragraph:nth-child(odd)>.text,
    .paragraph:nth-child(even)>.image {
        grid-column: 2;
    }
    .paragraph:nth-child(odd)>.image,
    .paragraph:nth-child(even)>.text {
        grid-column: 3;
    }
}
